.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.carousel {
  position: absolute;
  left: 50%;
}

.App-link {
  color: #61dafb;
}

.specialbar {
  background-color: lightgray;
  color: white;
  width: 100%;
  padding: 10px;
}

.feeditem {
  display: grid;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  grid-template-columns: 15% 60% auto;
}

.feeditemtext {
  color: black;
  margin: auto;
  text-align: right;
}
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);

  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);

  @media screen and (max-width: 768px) {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
.circular_image {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
}
.circular_image img {
  width: 100%;
}

#border {
  position: relative;
  width: 203px;
  height: 203px;
  margin: auto;

  background: #29b0fc;
}

.points {
  color: #661fda;
}

#roundedRect {
  border-radius: 75px;
  background: #f1f1f1;
  padding: 20px;
  width: 600px;
  height: 100px;
  margin: auto;
  border: 10px;
}

.circular_position_image {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  float: left;
}
.circular_position_image img {
  width: 100%;
}

.p1 {
  width: 20%;
  float: left;
  margin-top: 17px;
  white-space: pre;
}

.p2 {
  width: 33.33%;
  float: left;
  margin-top: 17px;
}

.p3 {
  margin-top: 17px;
  float: right;
}

.circular_image {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
}
.circular_image img {
  width: 100%;
}

#border {
  position: relative;
  width: 203px;
  height: 203px;
  margin: auto;

  background: #29b0fc;
}

.points {
  color: #661fda;
}

#roundedRect {
  border-radius: 75px;
  background: #f1f1f1;
  padding: 20px;
  width: 600px;
  height: 100px;
  margin: auto;
  border: 10px;
}

.circular_position_image {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  float: left;
}
.circular_position_image img {
  width: 100%;
}

.p1 {
  width: 20%;
  float: left;
  margin-top: 17px;
  white-space: pre;
}

.p2 {
  width: 33.33%;
  float: left;
  margin-top: 17px;
}

.p3 {
  margin-top: 17px;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}}}